.container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.sticker{
    width: 200px;
    height: 200px;
    background-color: rgb(170, 158, 177);
    padding: 10px;
    position: relative;
}

h2{
    margin: 0;
}
.deleteBut{
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgb(174, 255, 97);
    background-size: contain;
    cursor: pointer;
}
.id{
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
}
.dateText{
    position: absolute;
    left: 5px;
    bottom: 5px;
    font-size: 0.8em;
}
#title{
    resize: none;
    background-color: rgb(170, 158, 177);
    border: none;
    font-size: 1.5em;
    height: 1em;
    overflow: hidden;
    width: 100%;
    outline: none;
}
.textarea{
    resize: none;
    flex-grow: 1;
    background-color: rgb(170, 158, 177);
    border: none;
    outline: none;
}
.stickCreatePanel{
    transition: 0.2s;
}
.addBut{
    width: 6em;
    height: 3em;
    align-self: end;
}